{
  "plugins": [
    "@babel/plugin-transform-classes",
    "@babel/plugin-transform-class-properties",
    "lodash",
    [
      "@babel/plugin-transform-runtime"
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 1 version",
            "ie >= 11"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ]
}
