/.classpath
/.project
/.settings
node_modules/
/package
.idea/
*.iml
*.ipr
report.*
yarn-error.log
/.env
/yalc.lock

# build output: `dist/` is what vite produces, `target/` is where CI moves dist/package.tgz
/dist
/target

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

tests/results/
/playwright-report/
/.playwright/
