:root{
    --color-quiz:var(--pink);
    --color-industrial-content:var(--cyan);
    --color-content:var(--green);
    --color-page:var(--yellow);
    --color-file:var(--red);
    --color-training:var(--purple);
    --color-event:var(--orange);
    --color-default:#1a0dab;
}

.result-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.result-col-md-6,
.result-col-md-4{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 15px;
}
@media (min-width: 768px){
    .result-col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .result-col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}
